*{
    margin : 0;
    padding : 0;
}

.wrapper{
    width : 1270px;
    margin : auto;
}

body{
    height: 270vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,1);
}

.title
{
    position: inherit;
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 80px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.intro
{
    position: inherit;
    color: white;
    font-family: 'Jura', sans-serif;
    text-align: justify;
    font-size: 28px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

.contact
{
    position: inherit;
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 80px;
}
.contact-subclass
{
    position: inherit;
    color: white;
    padding-left: 20px;
    font-family: 'VT323', monospace;
    text-align: left;
    font-size: 40px;
}

.contact-subclass2
{
    position: inherit;
    color: white;
    padding-left: 30px;
    font-family: 'VT323', monospace;
    text-align: left;
    font-size: 30px;
}

.contact-info
{
    position: inherit;
    color: white;
    padding-left: 50px;
    font-family: 'Jura', sans-serif;
    text-align: justify;
    font-size: 28px;
}

.form
{
    color: white;
}
.form-lable
{
    position: inherit;
    color: white;
    padding-left: 30px;
    font-family: 'VT323', monospace;
    text-align: left;
    font-size: 30px;
}

input[name="review"]
{
    width: 600px;
    height: 250px;
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}

input[name="name"]
{
    width: 600px;
    height: 50px;
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}

input[name="mail"]
{
    width: 600px;
    height: 50px;
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}


header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(images/img.jpg);
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float : right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    padding: 25px;
}

.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    transition: .5s;
}

.nav-area li a1{
    color: white;
    font-style: italic;
    background: rgba(255,255,255, 0.3);
    text-decoration: none;
    padding: 8px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.nav-area li a1:hover{
    background: #fff;
    color : #000;
}

.nav-area li a:hover{
     background: #fff;
     color : #000;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
    padding: 40px 40px;
}

.welcome-text{
    position: absolute;
    width : 1000px;
    height: 300px;
    margin: 20% 15%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: white;
    font-family: 'Bruno Ace SC', cursive;
    text-transform: uppercase;
    font-size: 60px;
}

footer
{
    position: relative;
    width: 1340px;
    margin-top: auto;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
}

footer .social_icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li
{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover
{
    transform: translateY(-10px);
}

footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:url("wave.png");
    background-size: 1000px 100px;; 
}


footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 4s linear infinite;
}

footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave02 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    } 
}

@keyframes animateWave02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    } 
}